html {
  font-family: "Roboto", sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  background-color: var(--black-color);
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: 200px 1fr;
  grid-template-areas:
    ". s ."
    "lh c rh";
  justify-items: center;
  align-items: center;
}

.leftHeroSettings {
  grid-area: lh;
}

.rightHeroSettings {
  grid-area: rh;
}
