.canvas {
  background-color: var(--black-color);
  border: 1px solid var(--white-color);
  padding: 10px;
  padding-bottom: 6px;
  grid-area: c;

  canvas {
    background-color: var(--black-color);
    width: 800px;
    height: 500px;
  }
}
